@font-face {
    font-family: 'HelveticaNeue';
    src: local('HelveticaNeue'), url("../../assets/fonts/HelveticaNeue.ttc") format('truetype');
  }
.home_page {
    font-family: 'HelveticaNeue', Arial, sans-serif;
    margin: auto;
    width: 60%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 26px;
    justify-items: center;
    align-items: center;
    align-content: space-around;
}
.logo{
    width: 112px;
    height: 18px;
}
.img_desc {
    max-width: 70%;
    max-height: 100%;
}

.img_phone {
    display: none;
}
.button {
    text-decoration: none;
    background-color: #62A1EB;
    color: #FFFFFF;
    width: 387px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    background-color: #317AD0;
}

.button:focus{
    background-color: #1A5DAB;
}
.first{
    align-self: end;
}
.second{
    align-self: start;
}

@media only screen and (max-width: 390px){

    .img_desc {
        display: none;
    }
    
    .img_phone {
        max-width: 100%;
        display: block;
    }


    .home_page {
        width: 90%;
    }

    .button {
        width: 100%;
    }

}
