@font-face {
    font-family: 'HelveticaNeue';
    src: local('HelveticaNeue'), url("../../assets/fonts/HelveticaNeue.ttc") format('truetype');
  }

.register_person_wrapper{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    font-family: 'HelveticaNeue', Arial, sans-serif;
}


.register_person{
    margin: auto;
    width: 64%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-content: space-between;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 11vh;
    grid-column-gap: 10%;
}
.active{
    justify-self: end;
    font-size: 17px;
    position: relative;
}

.active::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    width: 80%;
    left: 10%;
    border-top: 2px solid black

}


.inctive{
    justify-self: start;
    font-size: 17px;
}

.register_person_main {
    background-color: #ffffff;
    width: 100%;
    border-radius: 18px;
    padding: 9% 15% 4.5% 15%;
}

.register_person_form{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
        "name  surname "
        "teams teams"
        "positions positions"
        "email  email"
        "tel  tel"
        ". button";
    align-content: space-between;
    align-items: center;
}
.register_person_form .name {
    grid-area: name
}

.register_person_form .surname {
    grid-area: surname
}


.register_person_form .teams {
    grid-area: teams
}

.register_person_form .positions {
    grid-area: positions
}

.register_person_form .email {
    grid-area: email
}

.register_person_form .tel {
    grid-area: tel
}

.register_person_form .form_button {
    grid-area: button
}




.name, .surname, .tel, .email, .teams, .positions {
    grid-area: name;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0px 14px 0 14px;
}


.label{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.comment{
    color: #2E2E2E;
    font-size: 11px;
    margin-top: 2px;
}


input[type="text"]{
    line-height: 40px;
    border-radius: 8px;
    border: 1.8px solid #8AC0E2;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 13px;
}

input[type="tel"]{
    line-height: 40px;
    border-radius: 8px;
    border: 1.8px solid #8AC0E2;
    padding-left: 10px;
    font-size: 13px;
}

input[type="email"]{
    line-height: 40px;
    border-radius: 8px;
    border: 1.8px solid #8AC0E2;
    padding-left: 10px;
    font-size: 13px;
}

select {
    height: 44px;  
    background-color: #EBEBEB;
    border: none;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 15px;
}
select option{
    background-color: white;
    border: none;
    border-radius: 8px;
}

form button{
    width: 176px;
    height: 40px;
    background-color: #62A1EB;
    color: white;
    border: none;
    border-radius: 8px;
    justify-self: end;
    margin-right: 14px;
}
form button:hover{
    cursor: pointer;
}

.footer_logo{
    display: grid;
    align-content: center;
    justify-content: center;
}
.footer_logo img {
    width: 60px;
    height: 60px;
    margin: 40px;
}






