.register_person_wrapper{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}


.register_person{
    margin: auto;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 2fr;
    align-items: center;
    justify-items: center;
    
}

.register_person h2{
    font-size: 18px;
    
}
.active{
    position: relative;
}

.active::after{
    content : "";
    position: absolute;
    left: 10%;
    top: 150%;
    height  : 1px;
    width   : 80%;
    border-bottom: 2px solid #000000;
}


.register_person form {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-content:space-around;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}



.register_person form .name{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    row-gap: 5px;
    padding: 0 24px 0 24px;
}

.register_person form .name label{
    font-size: 14px;
    line-height: 14px;

}
.register_person form .name input{
    border: 1px solid #8AC0E2;
    border-radius: 5px;
    height: 20px;
}
.register_person form .name p{
    font-size: 10px;
    line-height: 12px;
}






.register_person form .surname{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    row-gap: 5px;
    padding: 0 24px 0 24px;
}








.register_person form .teams{
    grid-column: 1 / -1;
}

.register_person form .positions{
    grid-column: 1 / -1;
}

.register_person form .email{
    grid-column: 1 / -1;
}

.register_person form .tel{
    grid-column: 1 / -1;
}


.register_person img {
    width: 50px;
    height: 50px;
    justify-self: center;
    align-self: center;
}